/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

body {
  --space: 1rem;
  --space-md: calc(var(--space) * 2);
  --content-max-width: 90ch;

  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.content {
  display: grid;
  grid-template-columns:
    [full-start] 1fr
    [content-start]
    min(var(--content-max-width), 100% - var(--space-md) * 1)
    [content-end]
    1fr [full-end];
}

.content > * {
  grid-column: content;
}

.content > * + * {
  margin-block-start: var(--space);
}
